@import "./fonts";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 40px auto;
}

section ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;

    li {
        list-style: none;
        background-color: #eee;
        padding: 12px 20px;
        margin: 5px;
        letter-spacing: 1px;
        border-radius: 500000px;
        cursor: pointer;

        &.active {
            background-color: dodgerblue;
            color: #fff;
        }
    }
}

.gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery_item {
    position: relative;
    width: 300px;
    height: 200px;
    margin: 5px;
    display: block;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease;
    transition: visibility 0.5s ease;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }


    &.hide {
        width: 0;
        height: 0;
        opacity: 0;
        visibility: hidden;
    }
}